<%= notice%></br>

<%if user_present?%>
  <%if current_user.id == @post.user_id%>
  <%= link_to "Edit Invention", edit_product_path(@post.product_id)%></br>
  <%= link_to "Edit Post", edit_post_path(@post)%>
  <%end%>
<%end%>


<h3><%= @post.title%></h3>
<p><%= @post.article%></p>



</br>
<%= form_for @post, url: new_post_comment_path(@post), method: :get do |f|%>
  <% f.fields_for :comment do |com|%>
    <%= com.label "Comment"%>
    <%= com.text_field :content%></br>
    <%= com.hidden_field :post_id, :value => @post.id %>
    <%if user_present?%>
      <%= com.hidden_field :user_id, :value => current_user.id %>
    <%end%>
    <%= com.submit "Create Comment"%>
  <%end%>
<%end%>



<%if @comments.count > 0%>
  <ul><% @comments.each do |comment|%>
    <li><%= comment.content%></li>
        <% if comment.user == nil %>
          <%= "Anonymous" %>
        <% else %>
          <%= comment.user.name%>
        <% end %>
        <%= comment.created_at.strftime("%b %d, %Y") %>
        <%if user_present? && current_user.id == comment.user_id %>
          <%= link_to 'Destroy', post_comment_path(@post, comment), :method => :delete %>
        <%end%>
  <%end%>
  </ul>
<%end%>
